/*
COLORS
Main theme: #152e28
Medium: #a8b5aa
Light: #e6ede7
*/


body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    position: relative;
    height: 500px;
    background-color: #401f06;;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    text-align: center;
}

.header__overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: 0.3;
    z-index: 1;
}

.header__name {
    display: inline-block;
    position: relative;
    font-family: 'PT Sans', sans-serif;
    color: #eee;
    margin: 0;
    font-size: 60px;
    margin-top: 150px;
    z-index: 0;
}

.header__tagline {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    z-index: 1;
    opacity: 0.7;
}

.header__social {
    list-style: none;
    padding: 0;
}

.header__social-icon {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    z-index: 2;
}

.header__social-icon-link {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

.header__social-icon-link:hover {
    color: white;
}

.header__intro {
    position: relative;
    z-index: 1;
    color: #eee;
    max-width: 350px;
    margin: 40px auto;
}

.header__intro a {
    color: #eee;
}

.main-content {
    max-width: 1000px;
}

.df-content-narrow {
    max-width: 800px;
    margin: auto;
}

.df-section {
    position: relative;
    padding: 20px;
}

.df-section-frame {
    position: relative;
    height: 40px;
    z-index: 2;
    background-color: #252525;
    
    background-image: url("https://www.transparenttextures.com/patterns/light-aluminum.png");
    box-shadow: 0px 7px 7px 3px #111;
}

.df-section-frame--top {
    
}

.df-section-frame--bottom {
    
}

.df-section-frame__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.df-section--portfolio {
    background-image: url(../img/corkboard2.jpg);
    z-index: 1;
}

.post-it {
    display: inline-block;
    position: relative;
    padding: 30px 70px;
    margin: 20px auto;
    background-color: #d1db46;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    font-size: 40px;
    color: #353535;
}

.post-it::before,
.post-it::after,
.envelope::before,
.envelope::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #222;
    box-shadow: 0 15px 10px #222;
}

.post-it::before,
.envelope::before {
    transform: rotate(-3deg);
    left: 10px;
    right: auto;
}

.post-it::after,
.envelope::after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.post-it__tape {
    position: absolute;
    top: -25px;
    left: 33%;
    width: 100px;
}

.portfolio__item {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}

.portfolio__item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}

.portfolio__item::before,
.portfolio__item::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #222;
    box-shadow: 0 15px 10px #222;
}

.portfolio__item::before {
    transform: rotate(-3deg);
    left: 10px;
    right: auto;
}

.portfolio__item::after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.portfolio__thumbtack {
    position: absolute;
    top: -15px;
    left: 32%;
}

.portfolio__image {
    margin-top: 20px;
}

.portfolio__image--web {
    width: 100%;
}

.portfolio__image--phone {
    width: 50%;
}

.portfolio__item-title {
    text-align: left;
    font-size: 20px;
}

.portfolio__item-link {
    color: black;
}

.portfolio__item-description {
    text-align: left;
}

.df-section--experience {
    background-color: #401f06;;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    text-align: center;
    z-index: -1;
}

.experience__header {
    text-align: center;
    font-size: 18px;
    color: black;
}

.experience__list {
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 20px auto 0 auto;
    padding: 0;
    text-align: center;
    background-color: #181818;
    padding: 20px;
    /*box-shadow: 0px 5px 5px 0px #111;*/
    background-image: url("../img/metal.png");
    background-size: 800px;
    box-shadow: 0 4px 7px black;
}

.rivet {
    position: absolute;
    width: 15px;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 0 4px 7px black;
}

.rivet--tl {
    top: 5px;
    left: 5px;
}

.rivet--tr {
    top: 5px;
    right: 5px;
}

.rivet--bl {
    bottom: 5px;
    left: 5px;
}

.rivet--br {
    bottom: 5px;
    right: 5px;
}

.experience__list-item {
    display: inline-block;
    margin: 0 10px;
}

.experience__list-image {
    height: 40px;
}

.envelope {
    position: relative;
    display: inline-block;
    margin: 50px 0;
    background-color: #d9d3b6;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}

.envelope__stamp {
    width: 50px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.envelope__address {
    padding: 80px 150px;
    width: 140px;
}

.envelope__corner {
    position: absolute;
    left: 10px;
}

.df-footer {
    position: relative;
    text-align: center;
    background-color: #331e03;
    background-image: url("../img/dark-wood-rotated.png");
    background-attachment: fixed;
    height: 90px;
    border-top: solid 1px #160d00;
}

.df-footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    opacity: 0.1;
}

.copyright {
    position: absolute;
    margin: 0;
    width: 100%;
    font-size: 14px;
    color: #cdcdcd;
    bottom: 35px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 600px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}